html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #fff;
}

#ui-bar {
    /* top bar general setup */
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 20px;
}

#ui-bar.active #score,
#ui-bar.active #stopGame {
    /* top bar active */
    visibility: visible;
}

#missed {  
    /* missed circles count in top bar */
    color: #bb4f4f;
    font-size: 1rem;
    font-weight: bold;
    user-select: none;
}

#score {
    /* score tracker in top bar */
    position: absolute;
    left: 50%;
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
    user-select: none;
    transform: translateX(-50%);
    pointer-events: none;
}

#stopGame, #final-quit {
    /* stop game and stopGame app buttons */
    background-color: rgb(144, 3, 3);
    padding: 5px 10px;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
}

#gamespace {
    /* game play area */
    position: fixed;
    top: 50px; /* offset of ui-bar height */
    left: 0;
    width: 100vw;
    height: calc(100vh - 50px); /* space for ui-bar */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: black;
    /* border: 5px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
    border: 5px solid gray;
    color: green;
}

.circle {
    /* individual circles */
    position: absolute;
    border-radius: 50%;
    pointer-events: auto;
}

/* end of game background circles */
/* .bg-circle {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0.5;
} */

#final-score-box {
    /* score display at end of game */
    display: none;
    border-radius: 10px;
    padding: 30px;
    min-width: 260px;
}

#final-score-box h1 {
    /* "Final Score" in post-game display */
    margin: 0;
    font-size: 32px;
}

#final-score-box p {
    /* score in display after quit game */
    font-size: 24px;
    margin: 10px 0 20px;
    word-break: break-word;
}

#start-box {
    /* information box at startup */
    background: none;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

#start-box p {
    /* instructions in start box at startup */
    font-size: 18px;
    margin-bottom: 20px;
}

#startBtn {
    /* start game button in startup box */
    background-color: green;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

#play-again {
    /* play again button in display at end of game */
    background-color: green;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
}